* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.wrap-menu  {
    width: 100%;
    height: 80px;
    background: #222;
    position: fixed;
    z-index: 1000;

}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logotype {
    display: flex;
    align-items: center;
}
.menu-logotype__logo {
    background: url("./img/logo.png") no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
}
.name {
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    letter-spacing: 2px;
}
.menu-list ul {
    display: flex;
    list-style-type: none;
}
.menu-list a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
    letter-spacing: 4px;
}
.menu-list a:before {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.menu-list a:hover:before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.wrap-hats {
    width: 100%;
    height: 525px;
    padding-top: 80px;
}
/*Слайдер*/
.slider {
    width: 100%;
    height: 625px;
    position: relative;
    overflow: hidden;
}
.slider-item {
    opacity:0;
}
.showing {
    opacity: 1;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.slider-item img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}
.slider-item__text {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 50px;
    opacity: .5;
    background: #000;
    text-decoration: none;
    outline: 0;
    transition: .3s;
}
.slider-control:hover {
    opacity: 0.9;
    width: 45px;
    height: 55px;
}
.btn-left, .btn-right {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.btn-left:active::before, .btn-right:active::before {
    width: 16px;
    height: 16px;
}
.btn-right {
    position: absolute;
    right: 0;
}
.btn-right:before {
    content: "";
    background: url("./img/strelka.png") no-repeat center;
    width: 20px;
    height: 20px;
    background-size: cover;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.btn-left:before {
    content: "";
    background: url("./img/strelka.png") no-repeat center;
    width: 20px;
    height: 20px;
    background-size: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
/* Кружочки */
.slider-dots {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}
.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-right: 10px;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
@keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
.slideOutRight {
    animation: slideOutRight 2s ease-in-out;
    -webkit-animation: slideOutRight 2s ease-in-out;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
/*Конец кода слайдера*/
.about-museum {
    margin-top: 120px;
    padding-top: 60px;
}
.title {
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 45px;
}
.line {
    background: #ec6593;
    width: 100px;
    height: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 12px;
}
.about-wrap {
    display: flex;
}
.about-wrap__img {
    width: 585px;
    height: 630px;
    background: url("./img/bg.jpg");
    background-position: center;
    background-size: cover;
}
.about-wrap__info {
    width: 585px;
    height: 630px;
    background: url("./img/bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-wrap__info p {
    z-index: 999;
    color: #fff;
    width: 450px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.7px;
    padding-bottom: 20px;
}
.about-wrap__info p:last-child {
    padding-bottom: 0;
}
.about-wrap__info:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #5b306c;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
}
.gallery {
    padding-top: 60px;
}
.gallery-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 385px;
    height: 400px;
    background: lightblue;
    margin-bottom: 7px;
}
.contact {
    padding-top: 53px;
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.form {
	max-width: 650px;
}
.form__name {
    width: 172px;
	padding: 20px 100px 20px 48px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	outline: none;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-right: 5px;
}
.form__name::input-placeholder {
	color: #000;
	opacity: 0.7;
}
.form__email {
    width: 172px;
	padding: 20px 100px 20px 48px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	outline: none;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.form__message {
	width: 553px;
	margin-top: 10px;
	padding: 20px 50px 0 48px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	outline: none;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.form__button {
    background: #ec6593;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0;
    margin-top: 7px;
    cursor: pointer;
}
.contacts-info {
    width: 450px;
    height: 450px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-info__text {
    width: 435px;
    text-align: left;
}
h4 {
    color: #fff;
    padding-bottom: 20px;
}
.contacts-info__text h4, p {
    color: #fff;
    padding-bottom: 12px;
}
footer {
    height: 100px;
    background: #333;
    margin-top: 20px;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.footer-copyright {
    color: #fff;
}
.footer-social {   
    background: url("./img/Icons.png") no-repeat;
    width: 200px;
    height: 35px;
    cursor: pointer;
}